<%- include("partials/header")-%>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../css/support.css">
    <title>Admin Support</title>
    </head>

    <body>
        <div class="background">
            <a href="/">
                <img class="header-image" src="../images/logo_img.png" alt="">
            </a>
            <div class="header">
                <p class="heading">Admin Support Dashboard</p>
                <a href="/logout">
                    <img class="logout" src="../images/logout.png" alt="">
                    <img class="logout_text" src="../images/logout_text.png" alt="">
                </a>
            </div>
            <div class="message-text"></div>
            <div class="messages">Support Query</div>
            <div class="box">
                <div class="list-user-section">
                    <%usersWithSupportChat.forEach(function(user){%>
                        <div class="conference-div">
                            <a href="/admin-support-chat/<%= user.conferenceShortName %>/<%= user.username %>"
                                class="list-conference">
                                <%= user.name %> from <%= user.conferenceName %>
                            </a>
                        </div>
                        <% }) %>
                </div>
                <div class="notification-background">
                    <div class="message-flow">
                        <div class="notification-text">
                            <p class="text-message">This is the Support Section. <br>
                                All the Support query chats will appear when user will raise any Query for Support. <br>
                                It is advised you to mark done after query is solved to avoid confusion which query is
                                solved or not. <br>
                            </p>
                            <p class="messaged-by">
                                CMP Development Team
                            </p>
                            <p class="message-time">21-12-2023 05:31 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/footer")-%>
                <script>
        <% function formatDate(dateString) { %>
        <% const options = { day: "2-digit", month: "2-digit", year: "numeric", hour: "2-digit", minute: "2-digit" }; %>
        <% const formattedDate = new Date(dateString).toLocaleDateString("en-GB", options); %>
        <% const formattedTime = new Date(dateString).toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit" }); %>
        <% const finalFormattedDate = `${formattedDate.split("/").join("-")}`; %>
        <% return finalFormattedDate; %>
        <% } %>
                </script>
    </body>

    </html>