<%- include("partials/header")-%>
    <link rel="stylesheet" href="css/conference.css">
    <title>All Venues</title>
    </head>

    <body>
        <div class="background">
            <a href="/">
                <img class="header-image" src="images/logo_img.png" alt="">
            </a>

            <div class="header">
                <p class="heading">All Listed Guesthouse</p>
                <a href="/logout">
                    <img class="logout" src="images/logout.png" alt="">
                    <img class="logout_text" src="images/logout_text.png" alt="">
                </a>
            </div>

            <table class="table">
                <tr class="titles">
                    <td>S.No
                    </td>
                    <td>Guesthouse Name</td>
                    <td>Delete Guesthouse</td>

                </tr>
                <% let serialNumber=1 %>
                    <% addguesthouses.forEach(function(newguesthouse){ %>
                        <tr class="entry">
                            <td class="serial_number">
                                <%= serialNumber %>
                            </td>

                            <td class="conference_name">
                                <%= newguesthouse.guesthouse_name %>
                            </td>
                            <td>
                                <form action="/delete-guesthouse/<%= newguesthouse._id %>" method="POST"
                                    class="delete-form">
                                    <button name="DELETE" class="edit" onclick="return confirmDelete()">Delete</button>
                                </form>
                            </td>
                            <% serialNumber++; %>
                        </tr>
                        <% }) %>
                            <tr class="entry">
                                <td colspan="3" class="serial_number">
                                    <form action="/addguesthouse" method="post">
                                        Want to Add more Guesthouse ?
                                        <input type="text" name="guesthouse_name" placeholder="Add new Guest House">
                                        <button class="edit">Add Now</button>
                                    </form>
                                </td>
                            </tr>
            </table>
        </div>
        <%- include("partials/footer")-%>


            <script>
                function confirmDelete() {
                    return confirm("Are you sure you want to delete this Guesthouse?");
                }
            </script>
    </body>

    </html>