<%- include("partials/header")-%>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>My Applications</title>
    </head>

    <body>
        <div class="background">
            <img class="header-image" src="images/logo_img.png" alt="">

            <div class="header">
                <p class="heading">My Applications</p>
                <a href="/logout">
                    <img class="logout" src="images/logout.png" alt="">
                    <img class="logout_text" src="images/logout_text.png" alt="">
                </a>
            </div>

            <table class="table">
                <tr class="titles">
                    <td>Conference Name</td>
                    <td>Status</td>
                    <td>Payment</td>
                    <td>Guest House Booking</td>
                    <td>Upload Documents</td>
                    <td>Details</td>
                </tr>
                <% conferenceDetails.forEach(function(conferenceDetail){%>
                    <tr class="entry">
                        <td class="conference_name">
                            <%= conferenceDetail.confTitle %>
                        </td>
                        <td>
                            <button name="Status" class="<%= conferenceDetail.status %>">
                                <%= conferenceDetail.status %>
                            </button>
                        </td>
                        <td>
                            <% if (conferenceDetail.status==='Accepted' && conferenceDetail.payment==='Pay Now' ) { %>
                                <button name="Payment" id="payButton" class="<%= conferenceDetail.paymentButton %>">
                                    <%= conferenceDetail.payment %>
                                </button>
                                <% } else { %>
                                    <button name="Payment" class="<%= conferenceDetail.paymentButton %>">
                                        <%= conferenceDetail.payment %>
                                    </button>
                                    <% } %>
                        </td>
                        <script>
                            $(document).ready(function () {
                                $('#payButton').on('click', function () {
                                    // Fetch the order ID from your server
                                    $.post('/create-order/<%= conferenceDetail.name %>', { /* additional data if needed */ }, function (order) {
                                        const options = {
                                            key: '<%= conferenceDetail.razorpayKey%>',
                                            amount: order.amount,
                                            currency: order.currency,
                                            name: 'CMP | IIT Roorkee',
                                            description: 'Conference Payment',
                                            image: "images/IITR_Logo.png",
                                            order_id: order.id,
                                            handler: function (response) {
                                                // Send the payment ID and order amount to your server for verification
                                                $.post('/capture-payment/<%= conferenceDetail.name %>/<%= conferenceDetail.email %>', { paymentId: response.razorpay_payment_id, amount: order.amount, orderId: response.razorpay_order_id, orderSignature: response.razorpay_signature, currency: order.currency, }, function (data) {
                                                    // Handle the success response from the server
                                                    alert(data.Status);
                                                    window.location.href = "/";
                                                });
                                            },
                                            prefill: {
                                                name: '<%= conferenceDetail.nameOfUser%>',
                                                email: '<%= conferenceDetail.email %>',
                                                contact: '+91 <%= conferenceDetail.phone %>',
                                            },
                                            notes: {
                                                Name: '<%= conferenceDetail.nameOfUser%>',
                                                Conference_Name: '<%= conferenceDetail.confTitle %>',
                                            },
                                            theme: {
                                                color: '#4A7EAD',
                                            },
                                        };

                                        const rzp1 = new Razorpay(options);
                                        rzp1.open();
                                    });
                                });
                            });
                        </script>
                        <td>
                            <a class="<%= conferenceDetail.guestHouseButton %>" href="">Book Guest House</a>
                        </td>
                        <td>

                            <form action="/dashboard/<%= conferenceDetail.name %>" method="post"
                                enctype="multipart/form-data" onsubmit="return validateForm()">
                                <input type="file" name="userUploadFile" id="userUploadFile" class="upload-button">
                                <button type="submit" name="submit" class="btn-upload-document">Upload</button>
                            </form>
                            <% for (let i=0; i < conferenceDetail.fileLocation.length; i++) { %>
                                <a href="/<%= conferenceDetail.fileLocation[i] %>" class="file_name">
                                    Document-<%= i + 1 %>
                                </a>
                                <% } %>
                        </td>
                        <td>
                            <a class="details"
                                href="viewsubmitted/<%=conferenceDetail.name%>/<%= conferenceDetail.username %>"
                                target="_blank">View
                                Details</a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>
        <div class="support">
            <a href="/support">
                <button name="Support" class="btn2"><img class="support-img" src="images/Support-Icon.png" alt="">
                </button></a>
        </div>
        <%- include("partials/footer")-%>


            <script>
                function validateForm() {
                    var fileInput = document.getElementById('userUploadFile');
                    var file = fileInput.files[0];

                    // Check if a file is selected
                    if (!file) {
                        alert('Please select your file before uploading');
                        return false;
                    }

                    // Check file size (in bytes)
                    var maxSize = 100 * 1024 * 1024; // 100 MB
                    if (file.size > maxSize) {
                        alert('File size exceeds. Please choose file smaller than 100 MB');
                        return false;
                    }

                    return true; // Form will be submitted if validation passes
                }
            </script>

    </body>

    </html>